﻿
frame {
    background-color: #ffffff;
}

label {
    margin: 4 0;
}

label.header {
    margin: 8 0;
    font-size: large;
    color: blue;
}

label.empty {
    flex-grow: 1;
}

Entry {
    border-bottom-color: #191e89;
    border-bottom-width: thin;
}

button {
    font-size: large;
    color: white;
    background-color: #ec2327;
}

/* ---------------------- Navigation CSS ----------------------- */

.NavigationLogoImage{
	background:lightgray;
    padding: 20;
}

.NavigationGuestTitle {
    height: 50;
    padding: 0 10;
    font-size: 14;
    color: #656565;
}

.NavigationList{
	padding:0;
}

.NavigationItemBox{
	padding:5 10;
}

.NavigationItems{
	font-size:16;
	color:#191E89;
}

.NavigationBottom{
	background-color:#EBEFF0;
	font-size:8;
	text-align:center;
	color:#181D87;
}

.NavLoginBox {
    background-color: #191e89;
    padding:0 0 0 10;
}

.NavLoginText {
    background-color: Transparent;
    font-size:16;
    color:white;
}
/* ---------------------- Navigation CSS ----------------------- */


.btnRoundWhite {
    font-size: small;
    color: #ec2327;
    background-color: white;
    height: 40;
    margin-top: 15;
}

.btnRed {
    color: #ffffff;
    background-color: #ED2327;
}

.btnGreen {
    color: #ffffff;
    background-color: #00C751;
}

.btnRoundRed {
    font-size: small;
    color: white;
    background-color: #ec2327;
    height: 40;
    margin-top: 15;
}

.textBlue {
    color: #191e89;
    font-size: small;
    background-color: transparent;
}

.textGreen {
    font-size: small;
    background-color: #00C450;
    color: #ffffff;
}

.marginTop10 {
    margin-top: 10;
}

.textBlueBold {
    color: #191e89;
    font-size: small;
    background-color: transparent;
    font-weight: bold;
}

.textGray {
    color: #4e4e4e;
    font-size: small;
    background-color: transparent;
}

/* ---------------------- Property Listing CSS S----------------------- */

.propertyListView{
	background-color:#EBF0F1;
}

.propertyListItem{
	padding:10;
}

.propertyListItemImage{
	width:50;
	height:50;
}

.propertyListItemTitle{
	color:#191E89;
}
.propertyListItemLocation{
	color:#676868;
	padding:0;
}

.propertyListItemPrice {
    margin: 8 0;
    width: 15;
    height: 15;
}

.propertyOptionIcons{
	width:10;
	height:10;
}


/* ---------------------- Property Listing CSS ----------------------- */


.gridAdvancedBox {
    background-color: #EAEFF2;
    border-radius:2;
    padding: 5;
}




/*----------------------- Error Page ------------------------*/

.errorTitle {
    color: #e74b3c;
    font-size:60;
    font-weight:bold;
    text-align:center;
}

.errorMessage {
    color: #6b6b6b;
    font-size: medium;
    text-align: center;
}

.errorContent {
    color: #e74b3c;
    font-size: medium;
    text-align: center;
}

.VersionText {
    background-color: Transparent;
    font-size: 14;
    color: #191e89;
}